body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    font-weight: 700;
    color: #343a40;
}

.lead {
    color: #6c757d;
}

.btn-lg {
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 15px 0;
    margin-top: 40px;
}
.hero-section img {
    max-height: 500px;
    object-fit: cover;
}
.hero-text h1 {
    font-weight: 700;
    color: #343a40;
}
.hero-text p {
    color: #6c757d;
}