{% extends "base.html" %}
{% block title %}Меню{% endblock %}
{% block content %}
<div class="mb-4">
    <a href="{% url 'menu:dish_list' %}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Назад к меню
    </a>
</div>
<div class="row">
    {% for dish in dishes %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ dish.image.url }}" class="card-img-top" alt="{{ dish.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ dish.name }}</h5>
                    <p class="card-text">{{ dish.description }}</p>
                    <p class="fw-bold text-primary"><i class="bi bi-cash"></i> {{ dish.price }} ₸</p>
                    <p class="text-muted"><i class="bi bi-clock"></i> {{ dish.cook_time }} мин</p>
                    <a href="{% url 'menu:order_create' pk=dish.pk %}" class="btn btn-success">Заказать</a>
                    <a href="{% url 'menu:dish_detail' pk=dish.pk %}" class="btn btn-outline-secondary">
                        <i class="bi bi-bar-chart"></i> Статистика
                    </a>
                    {% if user.is_staff %}
                        <a href="{% url 'dish_delete' pk=dish.pk %}" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Удалить
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
